{% extends "base.html" %}
{% load static %}
{% block title %}Изменение статуса{% endblock title %}
{% block header %}<div class="container">Изменение статуса "{{ status.StatusName }}"</div>{% endblock header %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogs.css' %}">
<div class="container">
    <form class="container_input" method="POST" action="{{status.id}}">
        {% csrf_token %}
        <p>
            <label>Введите новое название статуса</label><br>
            <input type="text" name="name" value="{{status.StatusName}}" style="font-size: 20px;" />
        </p>
        <input class="addbutton" type="submit" value="Изменить" >
    </form>
</div>

{% endblock content %}