{% extends "base.html" %}
{% load static %}
{% block title %}Изменение типа{% endblock title %}
{% block header %}<div class="container">Изменение типа "{{ trtype.TypeName }}"</div>{% endblock header %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogs.css' %}">
<div class="container">
    <form class="container_input" method="POST" action="{{trtype.id}}">
        {% csrf_token %}
        <p>
            <label>Введите новое название типа</label><br>
            <input type="text" name="name" value="{{trtype.TypeName}}" style="font-size: 20px;" />
        </p>
        <input class="addbutton" type="submit" value="Изменить" >
    </form>
</div>

{% endblock content %}